*{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 600px;
    height: 350px;
    position: relative;
    left: 80px;
    top: 100px;
   
}


.first{
    background-color: aquamarine;
    height: 100px;
}
.second img{
    height: 15px;
    padding: 3px;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    border: 3px grey solid;
    border-top: 0;
    
}
img[alt="userpic"]
{
    height: 80px;
    position: relative;
    bottom: 320px;
    padding: 10px;

}
